<h1>Lista de Comparaciones</h1>

<table class="sortable" id="tabla">
    <tr>
        <th>Matrícula 1</th>
        <th>Matrícula 2</th>
        <th>Levenshtein</th>
        <th>Sherlock</th>
        <!--<th>Algoritmo 3</th>-->
        <th></th>
    </tr>
    <% @similarities.each do |sim|%>
    <tr>
        <td><%= sim.source_code1.student_id%></td>
        <td><%= sim.source_code2.student_id%></td>
        <td><%= importance_of_similarity(sim, sim.algorithm_1) %></td>
        <td><%= importance_of_similarity(sim, sim.algorithm_2) %></td>
        <!--<td><%= importance_of_similarity(sim, sim.algorithm_3) %></td>-->
        <td><%= link_to "ver", view_course_exercise_similarity_path(sim.exercise.course.id, sim.exercise.id, sim.id)%></td>
    </tr>
    <%end%>
</table>
<br />
<%= link_to "Atras", course_exercise_path(@exercise.course, @exercise)%>
