<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibido salvar este usuario:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :contraseña %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :confirmacion_de_contraseña %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit("Guardar") %>
  </div>
<% end %>
