<p id="notice"><%= notice %></p>
<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
<b>Ejercicios del profesor</b>
<ul>
  <% @user.exercises.each do |exercise|%>
    <li>
	<%= link_to exercise.name, course_exercise_path(exercise.course, exercise)%>
	</li>
  <%end%>
</ul>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atrás', :back %>
