<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Nombre:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Apellido:</b>
  <%= @user.last_name %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atrás', users_path %>
