<p id="notice"><%= notice %></p>

<p>
  <b>Clase:</b>
  <%= @course.name %>
</p>

<p>
  <b>Curso:</b>
  <%= @course.courseid %>
</p>

<p>
  <b>Ejercicios:</b><br />
  <%= link_to 'Ejercicios', course_exercises_path(@course) %><br />
  <%= link_to 'Nuevo Ejercicio', new_course_exercise_path(@course) %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
