<p id="notice"><%= notice %></p>

<h1><%= @course.courseid %> - <%= @course.name %></h1>
<br />
<h2>Ejercicios por profesor</h2>
<% @users.each do |user| %>
  <h3><%= "#{user.first_name} #{user.last_name}:"%></h3>
  <ul>
    <% user.exercises.each do |exercise|%>
      <li><%= link_to exercise.name, course_exercise_path(@course, exercise)%></li>
    <%end%>
  </ul>
<% end %>
<%= link_to 'Nuevo Ejercicio', new_course_exercise_path(@course) %> |
<%= link_to 'Editar Curso', edit_course_path(@course) %>

