<p id="notice"><%= notice %></p>

<h1><%= @course.courseid %> - <%= @course.name %></h1>
<br />
<h2>Ejercicios</h2>
  <ul>
	<% @course.exercises.order(:user_id).each do |exercise| %>
      <li><%= link_to exercise.name, course_exercise_path(@course, exercise)%> -   <i><%= "#{exercise.user.first_name} #{exercise.user.last_name}:"%></i></li>
    <%end%>
  </ul>

<table>
<tr><th></th></tr>
<tr>
<td>
<%= button_to 'Editar Curso', edit_course_path(@course), :method=>:get %>
</td>
<td>
<%= button_to 'Nuevo Ejercicio', new_course_exercise_path(@course), :method=>:get %></td>
</tr>
</table>
