<%= form_for([@exercise.course, @exercise, @source_code]) do |f| %>
  <% if @source_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source_code.errors.count, "error") %> prohibido salvar éste código fuente:</h2>

      <ul>
      <% @source_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_de_alumno %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :lenguaje %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_area :code %>
  </div>
  <div class="actions">
    <%= f.submit("Guardar") %>
  </div>
<% end %>
