<h1>Listing source_codes</h1>

<table>
  <tr>
	<!--checkbox (select all)--><th><input name="" type="checkbox" /></th>
    <th>Alumno</th>
    <th>Ejercicio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @source_codes.each do |source_code| %>
  <tr>
	<!--checkbox--><td><input name="<%= source_code.student_id %>" type="checkbox" /></td>
    <td><%= source_code.student_id %></td>
    <td><%= source_code.exercise.name %></td>
    <td><%= link_to 'Mostrar', course_exercise_source_code_path(@exercise.course, @exercise, source_code) %></td>
    <td><%= link_to 'Editar', edit_course_exercise_source_code_path(@exercise.course, @exercise, source_code) %></td>
    <td><%= link_to 'Eliminar', course_exercise_source_code_path(@exercise.course, @exercise, source_code), :confirm => 'Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to('Nuevo código fuente', new_course_exercise_source_code_path(@exercise.course, @exercise), :method => :get) %>
