<h1>Listing source_codes</h1>

<% form_tag course_exercise_compare_path(@exercise.course, @exercise) do |f| -%>
  <div>
    Algoritmos:<br />
    <%= check_box_tag "algorithms[]", "1"%>
    <%= label_tag :algorithms_1, 'Algoritmo 1'%>
    <%= check_box_tag "algorithms[]", "2"%><%= label_tag :algorithms_2, 'Algoritmo 2'%>
    <%= check_box_tag "algorithms[]", "3"%><%= label_tag :algorithms_3, 'Algoritmo 3'%>
  </div>
  <br />
<table>
  <tr>
	<!--checkbox (select all)-->
	  <th><%= check_box_tag :select_all%></th>
    <th>Alumno</th>
    <th>Ejercicio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @source_codes.each do |source_code| %>
    <tr>
	  <!--checkbox-->
	    <td><%= check_box_tag "files[]", source_code.id%></td>
      <td><%= source_code.student_id %></td>
      <td><%= source_code.exercise.name %></td>
      <td><%= link_to 'Show', course_exercise_source_code_path(@exercise.course, @exercise, source_code) %></td>
      <td><%= link_to 'Edit', edit_course_exercise_source_code_path(@exercise.course, @exercise, source_code) %></td>
      <td><%= link_to 'Destroy', course_exercise_source_code_path(@exercise.course, @exercise, source_code), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
    <tr>
      <td>
      </td>
      <td>
        <%= submit_tag 'Comparar'%>
      </td>
    </tr>
  </table>

<% end -%>
<br />

<%= link_to('Nuevo código fuente', new_course_exercise_source_code_path(@exercise.course, @exercise)) %>
