<h1>Nuevo código fuente</h1>

<%= render 'form' %>

<% form_for @zipfile, :html => {:multipart => true}, :url =>  course_exercise_upload_file_path(@exercise.course, @exercise) do |f| -%>
  <div>
    <%= f.label :file %><br />
    <%= f.file_field( :file, :class=>'boton_archivo' )%>
  </div>
  <div>
    <%= f.submit%>
  </div>
<% end -%>

<%= link_to 'Atrás', :back %>
