<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @source_code.student_id %>
</p>

<p>
  <b>Source Code:</b><br />
  <%= @source_code.code %>
</p>

<p>
  <b>Exercise:</b>
  <%= @source_code.exercise_id %>
</p>


<%= link_to 'Edit', edit_course_exercise_source_code_path(@exercise.course, @exercise, @source_code) %> |
<%= link_to 'Back', course_exercise_source_codes_path(@exercise.course, @exercise) %>
