<p id="notice"><%= notice %></p>

<!--Los siguientes links se repiten por si el codigo esta muy largo -->
<%= link_to 'Editar', edit_course_exercise_source_code_path(@exercise.course, @exercise, @source_code) %> |
<%= link_to 'Atrás', course_exercise_source_codes_path(@exercise.course, @exercise) %>

<p>
  <b>Alumno:</b>
  <%= @source_code.student_id %>
</p>

<p>
  <b>Lenguaje:</b>
  <%= @source_code.language %>
</p>

<p>
  <b>Código fuente:</b><br />
<pre>
<%= @source_code.code %>
</pre>
</p>

<p>
  <b>Ejercicio:</b>
  <%= @source_code.exercise_id %>
</p>


<%= link_to 'Editar', edit_course_exercise_source_code_path(@exercise.course, @exercise, @source_code) %> |
<%= link_to 'Atrás', course_exercise_source_codes_path(@exercise.course, @exercise) %>
