<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @source_code.student_id %>
</p>

<p>
  <b>Exercise:</b>
  <%= @source_code.exercise_id %>
</p>


<%= link_to 'Edit', edit_source_code_path(@source_code) %> |
<%= link_to 'Back', source_codes_path %>
