<%= form_for([@course, @exercise]) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibido salvar cambios a este ejercicio:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Ejercicio" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripcion" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :mar, "Minima Razon de Aceptacion" %><br />
    <%= f.text_field :mar %>
  </div>
  <div class="actions">
    <%= f.submit("Guardar") %>
  </div>
<% end %>
