<table>
    <tr>
        <th>File 1</th>
        <th>File2</th>
        <th>Algoritmo 1</th>
        <th>Algoritmo 2</th>
        <th>ALgoritmo 3</th>
    </tr>
    <% @similarities.each do |sim|%>
    <tr>
        <td><%= sim.source_code1.student_id%></td>
        <td><%= sim.source_code2.student_id%></td>
        <td><%= sim.algorithm_1 %></td>
        <td><%= sim.algorithm_2 %></td>
        <td><%= sim.algorithm_3 %></td>
    </tr>
    <%end%>
</table>
