<h1>Ejercicios de <%= @course.name%></h1>

<table class="sortable" id="sortableTable">
  <tr>
    <th>Nombre</th>
    <th>Usuario</th>
    <!--<th>Cursos</th>-->
    <th></th>
    <th></th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%= link_to exercise.name, course_exercise_path(@course, exercise) %></td>
    <td><%= exercise.user.first_name + " " + exercise.user.last_name %></td>
    <!--<td><%= exercise.course.name %></td>-->
    <td><%= link_to 'Editar', edit_course_exercise_path(@course, exercise) %></td>
    <td><%= link_to 'Eliminar', course_exercise_path(@course, exercise), :confirm => 'Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />	

<%= button_to('Nuevo Ejercicio', new_course_exercise_path(@course), :method => :get) %>
