<h1>Lista de ejercicios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Promedio de similitud</th>
    <th>Usuario</th>
    <th>Cursos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%= exercise.name %></td>
    <td><%= exercise.description %></td>
    <td><%= exercise.similarity_avarage %></td>
    <td><%= exercise.user.first_name + " " + exercise.user.last_name %></td>
    <td><%= exercise.course.name %></td>
    <td><%= link_to 'Mostrar', course_exercise_path(@course, exercise) %></td>
    <td><%= link_to 'Editar', edit_course_exercise_path(@course, exercise) %></td>
    <td><%= link_to 'Eliminar', course_exercise_path(@course, exercise), :confirm => 'Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />	

<%= button_to('Nuevo Ejercicio', new_course_exercise_path(@course), :method => :get) %>
