<p id="notice"><%= notice %></p>

<p id="name_show_exercise">
	<b>Ejercicio:</b>
	<%= @exercise.name %>
</p>

<p id="else_show_exercise">
  <b>Descripci칩n:</b>
  <%= @exercise.description %>
</p>

<p id="else_show_exercise">
  <b>Usuario:</b>
  <%= @exercise.user.first_name %>
</p>

<p id="else_show_exercise">
  <b>Curso:</b>
  <%= @exercise.course.name %>
</p>

<p id="else_show_exercise">
  <b>Similitudes:</b>
  <ul>
  <li><%= link_to 'Analizar', course_exercise_source_codes_path(@course, @exercise) %></li>
  <li><%= link_to 'Subir C칩digos Fuente', new_course_exercise_source_code_path(@course, @exercise) %></li>
  <li><%= link_to 'Ver C칩digos Comparados', comparison_course_exercise_path(@course, @exercise)%></li>
  </ul>

</p>	
<table>
<tr>
<td>
<%= button_to 'Editar', edit_course_exercise_path(@course, @exercise), :method=>:get %>
</td>
<td>
<%= button_to 'Atr치s', course_exercises_path(@course), :method=>:get %>
</td>
</tr>
</table>

