<p id="notice"><%= notice %></p>

<p>
  <b id="show_exercise">Name:</b>
  <%= @exercise.name %>
</p>

<p>
  <b>Description:</b>
  <%= @exercise.description %>
</p>

<p>
  <b>Similarity avarage:</b>
  <%= @exercise.similarity_avarage %>
</p>

<p>
  <b>User:</b>
  <%= @exercise.user.first_name %>
</p>

<p>
  <b>Course:</b>
  <%= @exercise.course.name %>
</p>

<p>
  <b>Source Codes:</b>
  <%= link_to 'View', course_exercise_source_codes_path(@course, @exercise) %>
  <%= link_to 'New', new_course_exercise_source_code_path(@course, @exercise) %>
</p>


<%= link_to 'Edit', edit_course_exercise_path(@course, @exercise) %> | 
<%= link_to 'Back', course_exercises_path(@course) %>
