<h1>Vista de Similitud</h1>
<div>
  <p>
    <strong>Algoritmo 1</strong>: <%= @similarity.algorithm_1%>
  </p>
  <p>
    <strong>Algoritmo 2</strong>: <%= @similarity.algorithm_2%>
  </p>
  <p>
    <strong>Algoritmo 3</strong>: <%= @similarity.algorithm_3%>
  </p>
</div>
<div class="wrapper clearfix">
  <div style="float:left">
    <strong><%= @similarity.source_code1.student_id%></strong>
    <br />
    <pre>
      <%= @similarity.source_code1.code%>
    </pre>
  </div>
  <div style="float:left;margin-left: 30px;">
    <strong><%= @similarity.source_code2.student_id%></strong>
    <br />
    <pre>
      <%= @similarity.source_code2.code%>
    </pre>
  </div>
</div>

<%= link_to "atras", :back%>
